$primary-color: #007bff;

body {
    background-color: $primary-color;
}

.content {
    .players {
        background-color: lightblue;
        display: flex;
        justify-content: space-evenly;
    }

    .gameboards {
        background-color: pink;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        gap: 20px;

        .board {
            display: grid;
            height: 400px;
            width: 400px;
            .row {
                display: flex;
                justify-content: space-evenly;
                
                .cell {
                    border: solid 1px;
                    width: 10%
                }
            }
            .hit {
                background-color: black;
            }
    
            .miss {
                background-color: red;
            }
    
            .sunk {
                background-color: blue;
            }
        }
        #player {
            background-color: lightgreen;

            .ship {
                background-color: darken($color: lightgreen, $amount: 40);
            }
        }
        #enemy {
            $enemy-board-color: coral;
            background-color: $enemy-board-color;
            .ship {
                background-color: darken($color: $enemy-board-color, $amount: 40);
            }

            .active:hover {
                background-color: darken($color: $enemy-board-color, $amount: 20);
            }
        }
    }

    .ships {
        background-color: yellow;
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        .ship{
            display: flex;
            width: max-content;
            .cell {
                height: 30px;
                width: 30px;
                border: solid;
            }
            .hover:hover {
                background-color: darken(yellow, 10);
            }
        }
    }
}